<a href="https://colab.research.google.com/github/chinglin-k/Python_20210425/blob/main/4_%E8%BF%B4%E5%9C%88loop_20210425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#agenda

    [1].使用range 函式 的功能建立整數循序數列

    [2].使用for 廻圈 執行固定次數的廻圈運算(通常)
    [3].使用while 廻圈執行沒有固定次數的廻圈運算

    [4].continue 指令: 在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處執行
    [5].break 指令:在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

    [6].廻圈中又包含廻圈的巢狀廻圈(Nested Loop)　===>設計九九乘法表
    C 程式設計有(1)for 廻圈 (2)while 廻圈 (3)do… while 廻圈 

    Python沒有do… while 廻圈

**range() 函式**

    使用range 函式 的建立整數循序數列
    
    變數1 = range(整數值)
    變數2 = range(起始值, 終止值)
    變數3 = range(起始值, 終止值, 多少間隔)

**    變數1 = range(整數值)**

In [1]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

** 變數2 = range(起始值, 終止值) **

In [2]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

** 變數3 = range(起始值, 終止值, 多少間隔) **

In [4]:
list3=range(-4,5,2)
print(list(list3))

list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]
[-4, -2, 0, 2, 4]

**for 迴圈**

In [5]:
for n in range(5):
  print(n)

0
1
2
3
4

In [6]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [7]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [8]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [ ]:
# Python 程式碼縮排

# Python 語言以冒號「:」及縮排來表示程式區塊
# 縮排為 1 個 Tab 鍵或 4 個空白鍵

In [9]:
#計算1+2+3+ .....+ n
x = int(input("請輸入一個正整數:"))

mysum = 0

for n in range(x+1):
  mysum += n

print(mysum)

請輸入一個正整數:5
15

**While Loop**

In [10]:
# 使用 while loop設計 
# n階程的計算:n!=1*2*3*⋯*n

# 1!　=　１
# 2!　=　1*2　=　2
# 3!　=　1*2*3　=　6
# 輸入::一個正整數 n
# 輸出::n!

# 當使用者輸入一個正整數 n 後，程式就會顯示
# 1*2*3*...*n 的乘積

total = i = 1

n = int(input("請輸入正整數 n 的值："))
while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：55
55!=12696403353658275925965100847566516959580321051449436762275840000000000000

**break 指令**

    可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  # 要執行程式請記得把底下兩行 # 去除 
  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

**continue 指令**

    在迴圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行

In [ ]:
# 撰寫一個可以排除數列中 5 的倍數的程式

# 輸入::一個正整數 n
# 輸出::
# 使用者只要輸入一個正整數，
# 程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

**巢狀廻圈Nested Loop**

    迴圈中又包含廻圈 ==> 巢狀迴圈(Nested Loop)

In [12]:
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6